/*font-face for FaunaOne */
@font-face {
  font-family: 'Fauna One';
  src: url('./fonts/FaunaOne-Regular.ttf') format('truetype')
  font-weight: normal;
  font-style: normal;
}

/*font-face for Playfair Display */
@font-face {
  font-family: 'Playfair Display';
  src: url('./fonts/PlayfairDisplay-MediumItalic.ttf')
  font-weight:normal;
  font-style:italic;
}
