/* base page background */
body {
  background-color: #76323F;
}
p, a {
  margin-bottom:2em
  text-decoration: none;
  color: inherit;
}

/* creating a separate text form to look akin to a page of a book */
.text-container {
  background-color: #C09F80;
  padding: 4em;
  margin: 3em;
}

/*formatting for title */
#title {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5em;
}
#title h1 {
  font-size: 3em;
  font-style: italic;
  letter-spacing: 3px
  margin-bottom: 0em;
  color: #565656
}
#title h2 {
  font-size: 1.5em;
  margin-top: -1.4em;
  color: #565656
}
#title h3{
  font-size: 1.3em;
  margin-top: -0.9em;
  color: #565656
}

/*formatting for paragraph content */
.content{
  font-family: 'Fauna One', sans-serif;
  font-size: 1.25em;
  text-indent: 1.5em;
  line-height: 1.25em;
  font-weight: 300;
}
.content p:first-child::first-letter{
  font-size: 2.5em;
  font-weight: bold;
  font-style: italic;
}

/*formatting for dividing line */
.divider {
  border-bottom: 3px solid #565656;
  width: 20%;
  margin: 4em auto;
}

/*formatting for "read more" button */
#button-container {
  width: 15em;
  height: 4em;
  margin: auto;
}
.button p {
  font-size: 1.25em;
  text-align: center;
  color: #FFFFFF;
}
.button p:active {
  color: #76323F;
}
.button {
  height: 100%;
  background-color: #565656;
  border-color: #d3d3d3 #000000 #000000 #d3d3d3;
  border-width: 6px 10px 10px 6px;
  border-style: solid;
}
.button:hover {
  background-size: 40px 40px;
  background-color: #939799;
  background-repeat: no-repeat;
}
.button:active {
  background-color: #76323F;
  border-color: #000000 #d3d3d3 #d3d3d3 #000000;
  border-width: 10px 6px 6px 10px;
}
